<div data-ng-app="app1">
    <div>
        <div ng-controller="controller1">
            <input id="skill_val" class="form-control" ng-model="query"  ng-keydown="keyPressed($event)" ng-click="showSkillsList()" type="text" name="input" placeholder="Enter..." value="selectedText"/>   
            <ul class="skills" ng-show="showSkills">
                <li class="autoc" ng-repeat="skill in skills | filter:query | orderBy:orderProp | limitTo:5"  ng-model="selected">
                    {{skill.name}}
                </li>
            </ul>
        </div>
    </div>
</div>