<h2>Login</h2>
<form role="form" class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="username">Username</label>
		<div class="col-sm-10">
			<input class="form-control" id="userName" type="text" placeholder="Username"></input>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="userPassword">Password</label>
		<div class="col-sm-10">
			<input class="form-control" id="userPassword" type="password" placeholder="Password"></input>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Sign in</button>
		</div>
	</div>
</form>
